*
{
  margin: 0;
  padding: 0;
}

body
{
  background-image: url(../img/background.gif);
}

canvas
{
  margin: auto;
  margin-top: 20px;
  display: block;
  box-shadow: 0 0 10px 5px rgba(255,255,255,0.3);
}